.select {
    cursor: pointer;
    color: red;
}

.table-btn-class {
    padding: 14px 90px 14px 90px;
}

.float-button {
    bottom: 40px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 25px;
  }
  
  .float-button span {
    font-weight: bold;
  }
  
  .button-mark,
  .button-add {
    align-items: center;
    background: #ffffff;
    bottom: 30px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    color: #093b66;
    display: flex;
    font-size: 40px;
    height: 55px;
    justify-content: center;
    margin-top: 10px;
    right: 30px;
    text-decoration: none;
    width: 55px;
    z-index: 100;
  }

.card-class{
  width: 250px;
  height: 330px;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
}

.img-class-container {
  width: 100%;
  height: 50%;
}

.img-class {
  width:  180px;
  height: 159px;
  object-fit: cover;
}

main {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.title-class {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}