html{
    height: 100%;
}

body{
    background-color: burlywood;
    height: 100%;
}

header{
    width: 100%;
    height: 10%;
    background-color: aquamarine;
    margin-bottom: 10px;
}

#frame{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

section{
    float: left;
    width: 20%;
    height: auto;
}

.col1, .col3, .col5{
    background-color: blueviolet;
    height: 100%;
}

.col2, .col4{
    background-color: black;
    height: 100%;
}

div{
    margin: 10px;
    height: auto;
}

img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

video{
    width: 100%;
    height: auto;
    border-radius: 20px;
}