body{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    /* background-color: #5c6bc0; */
    justify-content: space-between;
    height: 10vh;
    width: 100%;
}
header div{
    display: flex;
    flex-direction: row;
}
.button-inicio{
    text-decoration: none;
    font-weight: 550;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 25px;
    margin: 10px 0 10px 10px;
    padding: 10px;
    border: 0;
}
.button-hoy{
    text-decoration: none;
    font-weight: 550;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 25px;
    margin: 10px 10px 10px 0;
    padding: 10px 10px 10px 10px;
    transition: all 1s ease;
    border: 0;
}
.button-hoy:hover{
    background: rgb(47, 47, 47, 0.2);
}
.logo{
    margin: 15px;
    height: 5vh
}
header section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12px 10px;
    width: 50%;
}
.finder{
    width: 100%;
    height:auto;
    border-radius: 25px;
    border: none;
    background: rgb(47, 47, 47, 0.1);
    padding: 1px 1px 1px 10px;
    font-size: 1em;
}
#div-finder{
    width: 100%;
}
#search, #expand{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px !important;
    color: #767676;
}
#navbar-pinterest{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
}
#notifications, #messages, #profile-img, #expand{
    margin: 5px;
    height: 5vh;
}
main{
    background-color: #e8eaf6;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
}
main section{
    height: auto;
    width: 100%;
}
#content{
    background-color: #e8eaf6;
    display: flex;
    height: 90vh;
    overflow: scroll;
    width: 100%;
}
.card-image{
    margin: 10px 10px 20px 10px;
    height: auto;
}
.card-image h4, .card-image p{
    margin: 0;
    padding: 0;
}
figure{
    height: 100%;
}
.card-image figure{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}
#content img{
    width: 100%;
    border-radius: 20px;
    transition: all 500ms ease-out;
}
.card-image figure .capa{
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 20px;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(47, 47, 47, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}
.card-image figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.card-image button{
    text-decoration: none;
    font-weight: 550;
    font-size: 15px;
    color: #ffffff;
    background-color: #AE2924;
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
    border: 0;
}
figure span, figure p{
    color: #ffffff;
}
#image-top-menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}
#image-bottom-menu{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}
#image-bottom-menu div{
    display: flex;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    margin: 5px;
    padding: 5px;
}
#image-bottom-menu span{
    color: #000000;
}
#content video{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.float-button{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 40px;
    right: 40px;
}
.float-button span{
    font-weight: bold;
}
.button-mark, .button-add{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 55px;
    height: 55px;
    bottom: 30px;
    right: 30px;
    background: #ffffff;
    color: #000000;
    border-radius: 50px;
    font-size: 40px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    margin-top: 10px;
}