/*
LISTO ---->Tener <nav> </nav> con #navbar-pinterest
LISTO ---->El buscador debe de ser <input> con .finder
LISTO ---->La navbar debe de tener 3 iconos cada uno dentro de <div> </div> a la derecha #notifications #message y #profile-img
LISTO ---->Tener un <main> </main> con #content este debe de contener todas las images
LISTO ---->El icono de pinterest con #pinterest-icon me debe de redireccionar a https://www.pinterest.com
LISTO ---->Cada imagen debe de estar encerrada en un <div> </div> con la clase .card-image
LISTO ---->Por lo menos deben de existir 30 imágenes
Debes de tener por lo menos una media query
LISTO ---->El navbar siempre debe de estar en el top de la aplicación
La .card-image tiene un :hover para mostrar los botones
*/
body{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    /* background-color: #5c6bc0; */
    justify-content: space-between;
    height: 10vh;
    width: 100%;
}
header div{
    display: flex;
    flex-direction: row;
}
.button-inicio{
    text-decoration: none;
    font-weight: 550;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 25px;
    margin: 10px 0 10px 10px;
    padding: 10px;
    border: 0;
}
.button-hoy{
    text-decoration: none;
    font-weight: 550;
    font-size: 20px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 25px;
    margin: 10px 10px 10px 0;
    padding: 10px 10px 10px 10px;
    transition: all 1s ease;
    border: 0;
}
.button-hoy:hover{
    background: rgb(47, 47, 47, 0.2);
}
.logo{
    margin: 15px;
    height: 5vh
}
header section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12px 10px;
    width: 50%;
}
.finder{
    width: 100%;
    height:40px;
    border-radius:25px;
    border: none;
    background: rgb(47, 47, 47, 0.1);
}
#search, #expand{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px !important;
    color: #767676;
}
#navbar-pinterest{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
}
#notifications, #messages, #profile-img, #expand{
    margin: 5px;
    height: 5vh;
}
main{
    background-color: #e8eaf6;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
}
main section{
    height: auto;
    width: 100%;
}
#content{
    background-color: #e8eaf6;
    display: flex;
    height: 90vh;
    overflow: scroll;
    width: 100%;
}
.card-image{
    margin: 10px 10px 20px 10px;
    height: auto;
}
.card-image h4, .card-image p{
    margin: 0;
    padding: 0;
}
.card-image figure{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}
#content img{
    width: 100%;
    border-radius: 20px;
    transition: all 500ms ease-out;
}
.card-image figure .capa{
    position: absolute;
    border-radius: 20px;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(47, 47, 47, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}
.card-image figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
#image-top-menu{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    /* margin-bottom: 220px; */
}
#image-bottom-menu{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    order: 1;
    padding: 20px;
}
#content video{
    width: 100%;
    height: auto;
    border-radius: 20px;
}